---
layout: page
title: Page Not Found
---

<p>The page you're looking for isn't here. Maybe one of these will help?</p>

<h2>Search</h2>
<form method="get" action="https://www.google.com/search" class="searchbox">
    <input type="hidden" value="site:pamgriffith.net" name="q" />
    <input type="text" name="q" />
    <div class="button"><button type="submit">Search</button></div>
</form>

<div class="columns">
	<div class="half-col left-col">
		<h2>Categories</h2>
		<ul class="tag-list">
		{% assign sortedcats = site.categories | sort %}
		{% for tag in sortedcats %}
			{% assign t = tag | first %}
			{% assign posts = tag | last %}
			<li><a href="{{site.baseurl}}/blog/category/{{t|replace:' ','-'}}">{{t}}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="half-col right-col">
		<h2>Tags</h2>
		<ul class="tag-list">
		{% assign sortedtags = site.tags | sort %}
		{% for tag in sortedtags %}
			{% assign t = tag | first %}
			{% assign posts = tag | last %}
			<li><a href="{{site.baseurl}}/blog/tag/{{t|replace:' ','-'}}">{{t}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>