<p>Please feel free to contact me below or at <a href="mailto:pam@pamgriffith.net">pam@pamgriffith.net</a> with questions or comments!</p>

<form accept-charset="UTF-8" enctype="multipart/form-data" method="post"
      action="https://pamgriffith.wufoo.com/forms/z3bw2ph1lhhz2y/#public">

	<div class="form-row">
		<label class="desc" id="title1" for="Field1">Name</label>
		<input id="Field1" name="Field1" type="text" value="" maxlength="255" required />
	</div>
	<div class="form-row">
		<label class="desc" id="title2" for="Field2">Email</label>
		<input id="Field2" name="Field2" type="email" spellcheck="false" value="" maxlength="255" required />
	</div>
	<div class="form-row">
		<label class="desc" id="title3" for="Field3">Message</label>
		<textarea id="Field3" name="Field3" spellcheck="true" rows="10" cols="50" required></textarea>
	</div>
	<div class="form-row">
		<button type="submit">Send Message</button>
	</div>

	<div class="honeypot">
		<label for="comment">Do Not Fill This Out</label>
		<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
	</div>

	<input type="hidden" id="idstamp" name="idstamp" value="BSFUmXNaEyb27oYSZW0oeQYMY3wM/WNlLgt2ltSnp/Q=" />
</form>