<article class="post">

  <header class="entry-header">
    <h1 class="entry-title">
        {% if include.single == true %}
        {{ include.post.title }}
        {% else %}
        <a href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.title }}</a>
        {% endif %}
    </h1>
    <time class="entry-date" datetime="{{ include.post.date | date: "%F" }}">{{ include.post.date | date: "%B %-d, %Y" }}</time>
  </header>

  <div class="entry-content">
    {% if include.single == true %}
    {{ content }}
    {% else %}
    {{ include.post.content }}
    {% endif %}
  </div>

  <footer class="entry-meta">
    {% if include.post.categories.size > 0 and include.post.tags.size > 0 %}
    Posted in {% include taglist.html tags=include.post.categories type='category' %} and tagged {% include taglist.html tags=include.post.tags type='tag' %}.
    {% elsif include.post.categories.size > 0 %}
    Posted in {% include taglist.html tags=include.post.categories type='category' %}.
    {% elsif include.post.tags.size > 0 %}
    Tagged {% include taglist.html tags=include.post.tags type='tag' %}.
    {% endif %}
  </footer>

</article>