---
layout: default
---
{% include post.html post=page single=true %}

{% for comment in page.comments %}
<div class="comment-list">
	<div class="comment">
		<div class="comment-author">
			{% if comment.author_url != '' %}
				<a href="{{comment.author_url}}" rel="nofollow">{{comment.author}}</a>
			{% else %}
				{{comment.author}}
			{% endif %}
		</div>
		<div class="comment-date">
			<time class="entry-date" datetime="{{ comment.date | date: "%F" }}">{{ comment.date | date: "%B %-d, %Y" }}</time>
		</div>
		<div class="comment-content">
			{{comment.content | markdownify}}
		</div>
	</div>
</div>
{% endfor %}