---
layout: default
---
<article class="archive">

	<header class="entry-header">
		<h1 class="entry-title">Archive of posts with {{ page.type }} '{{ page.title }}'</h1>
	</header>

	<div class="entry-content">
		<ul>
		{% for post in page.posts %}
			<li>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<time class="entry-date" datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%B %-d, %Y" }}</time>
			</li>
		{% endfor %}
		</ul>
	</div>

</article>